html, body, div, span, applet, object, iframe,  
h1, h2, h3, h4, h5, h6, p, blockquote, pre,  
a, abbr, acronym, address, big, cite, code,  
del, dfn, em, img, ins, kbd, q, s, samp,  
small, strike, strong, sub, sup, tt, var,  
b, u, i, center,  
dl, dt, dd, ol, ul, li,  
fieldset, form, label, legend,  
table, caption, tbody, tfoot, thead, tr, th, td,  
article, aside, canvas, details, embed,  
figure, figcaption, footer, header, hgroup,  
menu, nav, output, ruby, section, summary,  
time, mark, audio, video {  
margin: 0;  
padding: 0;  
border: 0;  
font-size: 100%;  
font: inherit;  
vertical-align: baseline;  
}

/* HTML5 display-role reset */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    width: 100rem;
    margin: 0 auto;
    font-family: 'Roboto Mono';
}

h1 {
    font-family: Chelsea Market;
    color: black;
    font-size: 4rem;
}

.plan {
    background: #FF764E;
}

.learn {
    background: #5ED3EB;
}

.get {
    background: #FFCD69;
}

.picone {
    border-radius: 50%;
    margin: 0 1% 0 7%;
}

#first {
    font-size: 1.5rem;
    border: .5rem solid black;
    text-align: center;
    margin: 5% 5% 0 1%;
    display: inline-block;
    width: 50%;
    line-height: 3rem;
}

#second {
    font-size: 1.25rem;
    height: 12rem;
    width: 90%;
    margin: 0 auto;
    border: .1rem;
    padding: 1.5rem;
    background-color: #DDB9A3;
    color: white;
}

#third {
    font-size: .25rem;
    width: 100%;
    margin: 0 40% 0 40%;
}

#fourth {
    width: 100%;
    margin: 0 auto;
}

.navigation {
    border: .5rem solid black;
    height: 10rem;
    width: 100rem;
    margin: 0 auto;
}   

.navigation nav a {
    margin: 2rem 7rem 2rem 7rem;
    font-size: 1.5rem;
    border: 1px solid lightgray;
    padding: 2rem;
    display: inline-block;
    border-radius: 20px;
    color: white;
    text-decoration: none;
    margin-bottom: 20px;
}